.first__section
  .first__section__text
    p.first__section__text__item Sweet fun, full of milk.
    p.first__section__text__title
      | Feel inside cold with our delicious 
      span ice-cream.
    p.first__section__text__subtitle
      | Some food has looked so awful that it&apos;s looked like something that the dog&apos;s brought home,
      yet after one mouthful I&apos;ve been left eating my thoughts, my words.
    button.first__section__button Buy Now
  .first__section__img
    img.first__section__img__one(src='/assets/images/Ellipse.png', alt='')
    img.first__section__img__two(src='/assets/images/ice_cream.png', alt='')
    img.first__section__img__three(src='/assets/images/milk.png', alt='')
