header.header.container
  .header__img
    img(src='./assets/images/header__logo.png', alt='')
  .header__menu
    a(href="")  Home
    a(href="")  Product
    a(href="")  Pricing
    a(href="")  Testimonials
    a(href="")  Contact Us
  .header__button
    button Buy Now