slider__section.container
  .slider__section__right
    .slider__section__right__foto
      .slider__section__right__foto__img
        img(src='./assets/images/slider__img.png', alt='')
      .slider__section__right__foto__text
        p.slider__section__right__foto__text__title Adele A. McNeill
        p.slider__section__right__foto__text__subtitle AMIRICAN
    .slider__section__right__text
      span  &#x275B;&#x275B; 
      |   Thanks a lot for the prompt service. Really appreciate. 
      |                     Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments. 
      span  &#x275C;&#x275C; 
    .first-slider-block
      s#s1
      s#s2
      .slider
        .slider__img
          img(src='./assets/images/slider1.png', alt='')
          img(src='./assets/images/slider2.png', alt='')
          img(src='./assets/images/slider1.png', alt='')
          img(src='./assets/images/slider1.png', alt='')
          img(src='./assets/images/slider2.png', alt='')
          img(src='./assets/images/slider1.png', alt='')
          .btn__next
      div
        a.btn__next__right(href='#s1')
        a.btn__next__left(href='#s2')
      div
        a.btn__next__left(href='#s2')
        a.btn__next__right(href='#s1')
  .slider__section__img
    img(src='./assets/images/slider__ice__cream.png', alt='')