.two_section
  .two_section__car
    img.two_section__logo(src='/assets/images/two_section_car.png' alt='')
    h1.two_section__title Free Shipping
    p.two_section__subtitle Last Chance! Free shipping on all orders ends today.
  .two_section__wok
    img.two_section__logo(src='/assets/images/two_section_wok.png' alt='')
    h1.two_section__title Quick Packaging
    p.two_section__subtitle Last Chance! Free shipping on all orders ends today.
  .two_section__cash_back
    img.two_section__logo(src='/assets/images/two_section_cash-back .png' alt='')
    h1.two_section__title 100% Money Back
    p.two_section__subtitle Last Chance! Free shipping on all orders ends today.
  .two_section__fastfood
    img.two_section__logo(src='/assets/images/two_section_fastfood.png' alt='')
    h1.two_section__title Fast Delivery
    p.two_section__subtitle Last Chance! Free shipping on all orders ends today.
.sugar_section
  .sugar_section__text
    h1.sugar_section__title Brown Sugar Oatmea
    p.sugar_section__subtitle
      | Together with McDonald&rsquo;s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald&rsquo;s, Burger King has grown to become synonymous.
    button.sugar_section__text__btn See Details
  .sugar_section__logo
    img(src='/assets/images/sugar_section.png' alt='')
.production_section
  .production_section__title
    h1.production_section__title__text Our Product
     .production_section__menu
      a.production_section__menu__ICE_CREAM(href='') ICE CREAM
      a.production_section__menu__CAYENNE_CHOCOLATE(href='') CAYENNE CHOCOLATE
      a.production_section__menu__CAKE_BATTER(href='') CAKE BATTER
      a.production_section__menu__CANDY_CANE(href='') CANDY CANE
      a.production_section__menu__PLATTERS(href='') PLATTERS
      a.production_section__menu__DESSERT(href='') DESSERT
.range_section__Brown_bread
  img.range_section__Brown_bread__logo(src='/assets/images/Brown bread.png' alt='')
  .range_section__Brown_bread__text
    h1.range_section__Brown_bread__text__title Brown bread
    p.range_section__Brown_bread__text__subtitle
      | Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
    .range_section__Brown_bread__price
      p.range_section__Brown_bread__price1 $19.55
      p.range_section__Brown_bread__price2 $22.55
    buttoncl.range_section__Brown_bread__btn
      | Buy Now
.range_section__Cayenne_chocolate
  .range_section__Cayenne_chocolate__text
    h1.range_section__Cayenne_chocolate__text__title Cayenne chocolate
    p.range_section__Cayenne_chocolate__text__subtitle
      | Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
    .range_section__Cayenne_chocolate_price
      p.range_section__Cayenne_chocolate__price1 $19.55
      p.range_section__Cayenne_chocolate__price2 $22.55
    buttoncl.range_section__Cayenne_chocolate__btn
      | Buy Now
  img.range_section__Cayenne_chocolate__logo(src='/assets/images/Cayenne_chocolate.png' alt='')
.range_section__Sweet_corn
  img.range_section__Sweet_corn__logo(src='/assets/images/Sweet corn.png' alt='')
  .range_section__Sweet_corn__text
   h1.range_section__Sweet_corn__text__title Sweet corn
    p.range_section__Sweet_corn__text__subtitle
      | Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
    .range_section__Sweet_corn__price
      p.range_section__Sweet_corn__price1 $19.55
      p.range_section__Sweet_corn__price2 $22.55
    buttoncl.range_section__Sweet_corn__btn
      | Buy Now
