.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #F2CEDA;
}

.header__menu{
    display: flex;
    flex-direction: row;
    max-width: 653px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__menu p{
    color: #150101;
    font-size: 14px;
    padding: 40px;
}

.header__menu p:first-child{
    color:  #D23166;
}

.header__button button{
    color: #FAFAFA;
    font-size: 16px;
    padding: 14px 50px;
    background: #D23166;
    border: 0;
    border-radius: 5px;
}